<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OFFICE EMPLOYEE MANAGEMENT SYSTEM</title>
    
</head>
<body>

<h1>Employye management system </h1>

<hr>
<hr>
<div class="container">
    <button class="btn btn-primary" href="/" role="button">all_employee</button>
    <br>
    <br>

    <button class="btn btn-primary" href="/add_employee" role="button">add_employee</button>
    <br>

    <br>

    <button class="btn btn-primary" href="/remove_employee" role="button">remove_employee</button>
    <br>
    <br>


    <button class="btn btn-primary"href="/filter_employee" role="button">filter_employee</button>

    </div>
</body>
</html>